html {
    background: #EFE9E3;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    background-color: #D9CFC7;
}

.behold_li {
    color: red;
    font-size: 30px;
}

#the_link {
    color: green;
}

h2 {
    background-color: purple;
}

p[draggable]{
    color: cyan;
    background-color: black;
}