body {
    background-color: rgb(49, 49, 49);
}

h1 {
    text-transform: uppercase;
    font-size: 1rem;
}

.poster {
    width: 50%;
    margin-left: 24%;
    margin-top: 100;
    color: yellow;
    font-family: "LibreBaskerville", serif;
    text-align: center;
}

.motivation-img {
    border: 5px solid green;
    width: 50%;
}