div {
    height: 200px;
    width: 200px;
}

#div1 {
    background-color: rgb(108, 172, 108);
    padding: 20px;
    border: 10px solid black
}

#div2 {
    background-color: rgb(225, 91, 91);
    border: 20px solid black;
    margin-left: 260px;

}

#div3 {
    background-color: rgb(89, 89, 176);
    border: 10px solid black;
    margin:0;
    margin-left: 40px;
}

p {
    margin: 0;
}